.btn-primary {
    background-color:  #EE731B !important;
    border: none !important;
}

.border-nav {
    border-bottom: 1px solid #FFA90A !important;
}

.btn-primary:hover {
    background-color:  #FFA90A !important;
}

.btn-outline-secondary {
    border: 1px solid #8C83F6 !important;
    color: #8C83F6 !important;
    background-color: transparent;
}

.btn-outline-secondary:hover {
    background-color: #8C83F6 !important;
    color: black !important;
}

.nav-link {
    color: black !important;
}

.nav-link:active, .nav-link:focus, .nav-link:hover {
    color: #FFA90A !important;
}

.bg-neo {
    background-color: #8C83F6;
}

.bg-color {
    background-color: #000420;
}

body {
    color: #6852F7 !important;
}

.text-color-base {
    color: #000420;
}

h1, h2, h3, h4, h5, h6 {
    color: #ef8030;
}

.text-large {
    font-size: calc(4rem + 1.5vw) !important; 
    color: #ef8030;
}

.price-text {
    color: #7c431a    
}

.logo {
    color: black;
}

.neo-block {
    background: #8C83F6;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 8px 8px 0 #ef8030;
    max-width: 1351px;
    position: relative;
}

.container {
    max-width: 1440px !important;
}

.mb-5 {
    margin-bottom: 60px !important; 
}


.rounded-12 {
    border-radius: 12px;
}